<img src="assets/burgerlove.jpg" alt="burger" />

<h1>Burger Love!</h1>

<div class="want">
    <h2>Burgers I Want</h2>
    <ul>
        {{#each burgers_table}}
        {{#unless devoured}}
        <p>
            <span>#{{this.id}} {{this.burger_name}}
                <button type="submit" class="eat-me" data-id="{{this.id}}" data-newstatus="{{true}}">Devour it!</button>
            </span>
        </p>
        {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="ate">
    <h2>Burgers I Ate</h2>
    <ul>
        {{#each burgers_table}}
        {{#if devoured}}
        <p>{{this.burger_name}}</p>
        {{/if}}
        {{/each}}
    </ul>
</div>

<div class="add">
    <h2>Add a Burger</h2>
    <form class="create-form">
        <div class="form-group">
            <label for="burgerName">Burger Name</label>
            <input type="text" id="burgerName" name="name">
            <button type="submit" id="submit">Submit</button>
        </div>
    </form>
</div>